:root {
    --primaryColor: #FD515B;
    --secondaryColor: #0F1630;
}

#wrapper #mainContainer #profileSummary {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 15rem 7rem 10rem;
    width: 100%;
}

#wrapper #mainContainer #profileSummary h1 {
    display: flex;
    font-size: 8rem;
    font-weight: 300;
    color: white;
    width: 100%;
    padding-bottom: 3rem;
}

#wrapper #mainContainer #profileSummary h1 #nameHeadingAlt {
    font-family: 'keplerStd';
    font-weight: 600;
    color: var(--primaryColor);
    padding-left: 2rem;
}

#wrapper #mainContainer #profileSummary #profileDescription {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    padding: 5rem 0;
}

#wrapper #mainContainer #profileSummary #profileDescription h4 {
    font-size: 1.8rem;
    font-weight: 400;
    color: white;
    width: 70%;
    line-height: 3rem;
}

#wrapper #mainContainer #codingLaptopBg {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    width: 100%;
}

#wrapper #mainContainer #codingLaptopBg::before {
    content: '';
    height: 100%;
    width: 80%;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    -webkit-backdrop-filter: blur(5px);
    -moz-backdrop-filter: blur(5px);
    -ms-backdrop-filter: blur(5px);
    -o-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

#wrapper #mainContainer #codingLaptopBg img {
    width: 80%;
    height: 90vh;
    max-height: 70rem;
    object-fit: cover;
    object-position: center center;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

#wrapper #mainContainer #profileImage {
    display: flex;
    flex-direction: row;
    position: relative;
    flex-wrap: wrap;
    width: 45%;
    padding-left: 7rem;
    margin-top: -25%;
    z-index: 3;
}

#wrapper #mainContainer #profileImage img {
    width: 100%;
    height: 100%;
    max-height: 70rem;
    object-fit: cover;
    object-position: top center;
    border-radius: 2rem;
}

#wrapper #mainContainer #profileImage #resumeContainer {
    text-align: center;
    width: 100%;
    padding: 5rem 0;
}

#wrapper #mainContainer #profileImage #resumeContainer a {
    font-family: "keplerStd";
    font-size: 2rem;
    font-weight: 400;
    text-decoration: none;
    border-bottom: 1px solid var(--primaryColor);
    color: var(--primaryColor);
    padding-bottom: 1.5rem;
}

#wrapper #mainContainer #profileImage #resumeContainer a i {
    padding-left: 1rem;
}

#wrapper #mainContainer #profileBackground {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    margin-left: 50%;
    margin-top: -50rem;
    padding: 5rem 7rem 5rem 0;
    z-index: 2;
}

#wrapper #mainContainer #profileBackground #profileBackgroundContainer {
    width: 100%;
}

#wrapper #mainContainer #profileBackground #profileBackgroundContainer h2 {
    font-size: 3.5rem;
    font-weight: 400;
    color: white;
    width: 100%;
    padding-bottom: 2rem;
}

#wrapper #mainContainer #profileBackground #profileBackgroundContainer h2 span {
    font-family: "keplerStd";
    font-weight: 600;
    font-style: italic;
    color: var(--primaryColor);
}

#wrapper #mainContainer #profileBackground #profileBackgroundContainer hr {
    border: 2px solid var(--primaryColor);
    border-radius: 10rem;
    width: 5rem;
}

#wrapper #mainContainer #profileBackground #profileBackgroundContainer p {
    font-size: 1.5rem;
    font-weight: 400;
    color: white;
    padding-top: 3rem;
    line-height: 2.5rem;
}

#wrapper #mainContainer #skills {
    width: 100%;
    margin-top: 20rem;
    padding: 10rem 0;
}

#wrapper #mainContainer #skills h1 {
    font-family: "kelperStd";
    font-size: 4rem;
    font-weight: 400;
    color: white;
    padding: 0 7rem 1.5rem;
}

#wrapper #mainContainer #skills hr {
    border: 2px solid var(--primaryColor);
    border-radius: 10rem;
    width: 5rem;
    margin: 0 7rem;
}

#wrapper #mainContainer #skills #skillsList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 7rem 0 5rem;
    margin: 0;
}

#wrapper #mainContainer #skills #skillsList .skillContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 20%;
    height: 10rem;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: transparent;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -ms-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}

#wrapper #mainContainer #skills #skillsList .skillContainer.active,
#wrapper #mainContainer #skills #skillsList .skillContainer:hover {
    background: var(--primaryColor);
    border: 1px solid var(--primaryColor);
}

#wrapper #mainContainer #skills #skillsList .skillContainer p {
    font-size: 1.5rem;
    font-weight: 400;
    color: white;
}

#wrapper #mainContainer #techTools {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    width: 100%;
    overflow-x: hidden;
}

#wrapper #mainContainer #techTools #scrollTechTools {
    font-family: "keplerStd";
    font-size: 25rem;
    font-weight: 600;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -ms-text-fill-color: transparent;
    -o-text-fill-color: transparent;
    -webkit-text-stroke: 1px;
    -moz-text-stroke: 1px;
    -ms-text-stroke: 1px;
    -o-text-stroke: 1px;
    color: white;
    white-space: nowrap;
    cursor: pointer;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: all ease-out 0.3s;
    -moz-transition: all ease-out 0.3s;
    -ms-transition: all ease-out 0.3s;
    -o-transition: all ease-out 0.3s;
    transition: all ease-out 0.3s;
}

#wrapper #mainContainer #techTools #scrollTechTools.changeBg {
    -webkit-text-fill-color: var(--secondaryColor);
    -moz-text-fill-color: var(--secondaryColor);
    -ms-text-fill-color: var(--secondaryColor);
    -o-text-fill-color: var(--secondaryColor);
}

#wrapper #mainContainer #toolsGrid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding: 10rem 7rem;
}

#wrapper #mainContainer #toolsGrid .toolsGridBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 33%;
    padding-bottom: 5rem;
}

#wrapper #mainContainer #toolsGrid .toolsGridBox img {
    width: 30%;
    max-height: 5rem;
    object-fit: contain;
    object-position: center center;
}

#wrapper #mainContainer #toolsGrid .toolsGridBox h2 {
    width: 70%;
    font-size: 2rem;
    font-weight: 400;
    color: white;
    align-self: center;
    padding-left: 2rem;
}

#wrapper #mainContainer #toolsGrid .toolsGridBox h2.changeBg {
    color: var(--secondaryColor);
}

#wrapper #mainContainer #contactSec {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 5rem 7rem 10rem;
}

#wrapper #mainContainer #contactSec #contactLogo {
    width: 20%;
}

#wrapper #mainContainer #contactSec #contactLogo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center center;
}

#wrapper #mainContainer #contactSec #contactContent {
    width: 80%;
    align-self: center;
    padding-left: 10rem;
}

#wrapper #mainContainer #contactSec #contactContent p {
    font-size: 3rem;
    font-weight: 400;
    line-height: 5rem;
    color: white;
}

#wrapper #mainContainer #contactSec #contactContent p.changeBg {
    color: var(--secondaryColor);
}

#wrapper #mainContainer #contactSec #contactContent p a {
    font-family: "keplerStd";
    color: var(--primaryColor);
}

#wrapper #mainContainer #letsWork {
    position: relative;
    left: 0;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
}

#wrapper #mainContainer #letsWork .scrollingText {
    position: relative;
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#wrapper #mainContainer #letsWork .scrollingText.changeBg {
    border-top: 1px solid rgba(15, 22, 48, 0.3);
    border-bottom: 1px solid rgba(15, 22, 48, 0.3);
}

#wrapper #mainContainer #letsWork .scrollingText.cloned {
    position: absolute;
    top: 0;
    left: 0;
}

#wrapper #mainContainer #letsWork .scrollingText a .letsWorkText {
    float: left;
    padding-left: 2rem;
}

#wrapper #mainContainer #letsWork .scrollingText a .letsWorkText .scrollContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 15rem;
    max-height: 15rem;
}

#wrapper #mainContainer #letsWork .scrollingText a .letsWorkText .scrollContainer h2 {
    font-family: "keplerStd";
    font-size: 6rem;
    font-weight: 300;
    color: white;
    line-height: 3rem;
    padding: 5rem 0;
    white-space: nowrap;
}

#wrapper #mainContainer #letsWork .scrollingText a .letsWorkText .scrollContainer h2.changeBg,
#wrapper #mainContainer #letsWork .scrollingText a .cloned .scrollContainer h2.changeBg {
    color: var(--secondaryColor);
}

#wrapper #mainContainer #letsWork .scrollingText a .scrollContainer .redDot {
    display: inline-block;
    height: 2rem;
    width: 2rem;
    background-color: var(--primaryColor);
    border-radius: 50%;
    margin: 0 3rem;
}

#wrapper #mainContainer .spacer {
    height: 15rem;
}