:root {
    --primaryColor: #FD515B;
    --secondaryColor: #0F1630;
}

@media (max-width: 575.98px) {
    * {
        cursor: inherit;
    }
    #wrapper #mainContainer #logoNav #logoContainer {
        padding: 2rem 2rem 0;
    }
    #wrapper #mainContainer #logoNav #logoContainer a img {
        cursor: pointer;
    }
    #wrapper #mainContainer #navbar {
        display: none;
    }
    #wrapper #mobHamburger {
        display: block;
        right: 2rem;
    }
    #wrapper #mainContainer #floatingSocials {
        width: 4rem;
        height: 4rem;
        right: 2rem;
        bottom: 2.5rem;
    }
    #wrapper #mainContainer a .linkedinIcon, 
    #wrapper #mainContainer a .githubIcon, 
    #wrapper #mainContainer a .mailIcon {
        width: 3rem;
        height: 3rem;
        right: 2.5rem;
        bottom: 2.5rem;
    }
    #wrapper #mainContainer #cursors {
        display: none;
    }
    #wrapper.active #mobNavLinks li {
        cursor: pointer;
    }
    #wrapper #mainContainer #homeHeading {
        padding: 1rem;
    }
    #wrapper #mainContainer #homeHeading h1 {
        font-size: 4rem;
    }
    #wrapper #mainContainer #homeHeading h4 {
        font-size: 1rem;
        letter-spacing: 0.2rem;
    }
    #wrapper #mainContainer #profileSummary {
        padding: 12rem 3rem 10rem;
    }
    #wrapper #mainContainer #profileSummary h1 {
        font-size: 4rem;
        flex-wrap: wrap;
    }
    #wrapper #mainContainer #profileSummary h1 #nameHeadingAlt {
        padding-left: 0;
        text-align: left;
        width: 100%;
    }
    #wrapper #mainContainer #profileSummary #profileDescription {
        justify-content: center;
        padding: 2rem 0;
    }
    #wrapper #mainContainer #profileSummary #profileDescription h4 {
        width: 100%;
        font-size: 1.5em;
    }
    #wrapper #mainContainer #codingLaptopBg::before {
        width: 100%;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    #wrapper #mainContainer #codingLaptopBg img {
        height: 50vh;
        width: 100%;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    #wrapper #mainContainer #profileImage {
        padding-right: 3rem;
        padding-left: 3rem;
        width: 100%;
        margin-top: -70%;
    }
    #wrapper #mainContainer #profileImage img {
        cursor: pointer;
        width: 100%;
    }
    #wrapper #mainContainer #profileImage #resumeContainer {
        width: 100%;
    }
    #wrapper #mainContainer #profileImage #resumeContainer a {
        cursor: pointer;
    }
    #wrapper #mainContainer #profileBackground {
        margin: 0;
        padding: 5rem 3rem 0;
    }
    #wrapper #mainContainer #profileBackground #profileBackgroundContainer h2 {
        font-size: 3rem;
    }
    #wrapper #mainContainer #profileBackground #profileBackgroundContainer p {
        font-size: 1.3rem;
    }
    #wrapper #mainContainer #profileBackground #profileBackgroundContainer p a {
        cursor: pointer;
    }
    #wrapper #mainContainer #skills {
        margin-top: 0;
        padding: 7rem 0 5rem;
    }
    #wrapper #mainContainer #skills h1 {
        font-size: 2.3rem;
        padding: 0 3rem 1.5rem;
    }
    #wrapper #mainContainer #skills hr {
        margin: 0 3rem;
    }
    #wrapper #mainContainer #skills #skillsList {
        padding: 5rem 0;
    }
    #wrapper #mainContainer #skills #skillsList .skillContainer {
        width: 50%;
    }
    #wrapper #mainContainer #skills #skillsList .skillContainer p {
        font-size: 1.3rem;
    }
    #wrapper #mainContainer #techTools #scrollTechTools {
        font-size: 10rem;
    }
    #wrapper #mainContainer #toolsGrid {
        padding: 5rem 0;
    }
    #wrapper #mainContainer #toolsGrid .toolsGridBox {
        flex-direction: column;
        justify-content: flex-start;
        width: 48%;
        padding-bottom: 3rem;
    }
    #wrapper #mainContainer #toolsGrid .toolsGridBox img {
        width: 100%;
    }
    #wrapper #mainContainer #toolsGrid .toolsGridBox h2 {
        font-size: 1.3rem;
        padding-top: 2rem;
        padding-left: 0;
        text-align: center;
    }
    #wrapper #mainContainer #contactSec {
        flex-direction: column;
        padding: 0 3rem 10rem;
    }
    #wrapper #mainContainer #contactSec #contactLogo {
        width: 100%;
        text-align: center;
        padding-bottom: 5rem;
    }
    #wrapper #mainContainer #contactSec #contactLogo img {
        width: 70%;
    }
    #wrapper #mainContainer #contactSec #contactContent {
        width: 100%;
        padding-left: 0;
    }
    #wrapper #mainContainer #contactSec #contactContent p {
        font-size: 1.5rem;
        line-height: 3rem;
    }
    #wrapper #mainContainer #contactSec #contactContent p a {
        cursor: pointer;
    }
    #wrapper #mainContainer #letsWork .scrollingText a { 
        cursor: pointer;
    }
    #wrapper #mainContainer #letsWork .scrollingText a .letsWorkText .scrollContainer {
        height: 12rem;
        max-height: 12rem;
    }
    #wrapper #mainContainer #letsWork .scrollingText a .letsWorkText .scrollContainer h2 {
        font-size: 4rem;
    }
    #wrapper #mainContainer #letsWork .scrollingText a .scrollContainer .redDot {
        width: 1.5rem;
        height: 1.5rem;
    }
    #wrapper #mainContainer #workGallery {
        padding: 10rem 1rem;
    }
    #wrapper #mainContainer #workGallery .project {
        width: 100%;
        height: 60vh;
        margin-bottom: 5rem;
    }
    #wrapper #mainContainer #workGallery .project:nth-child(odd) {
        margin-top: 0;
    }
    #wrapper #mainContainer #workGallery .project a {
        padding: 1.5rem;
        cursor: pointer;
    }
    #wrapper #mainContainer #workGallery .project a .projectContent h2 {
        font-size: 3rem;
    }
    #wrapper #mainContainer #workGallery .project a .projectContent h4 {
        font-size: 0.8rem;
        line-height: 1.5rem;
    }
    #wrapper #mainContainer #dowcoBanner,
    #wrapper #mainContainer #pontusBanner,
    #wrapper #mainContainer #mymindBanner,
    #wrapper #mainContainer #rtohomesBanner,
    #wrapper #mainContainer #tudorconsultingBanner,
    #wrapper #mainContainer #capturetheflagBanner {
        background-attachment: scroll;
    }
    #wrapper #mainContainer #projDesc {
        padding: 7rem 2rem;
        border-top-left-radius: 5rem;
        border-top-right-radius: 5rem;
    }
    #wrapper #mainContainer #projDesc h1 {
        font-size: 4rem;
    }
    #wrapper #mainContainer #projDesc .projCol-6 {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    #wrapper #mainContainer #projDesc .projCol-6 #viewProjBtn {
        display: none;
    }
    #wrapper #mainContainer #projDesc .projCol-6 #viewProjMobBtn {
        display: inline;
        margin: 0 auto;
        cursor: pointer;
    }
    #wrapper #mainContainer #projDesc .projCol-6 .projDescContainer a {
        cursor: pointer;
    }
    #wrapper #mainContainer #projDesc .projCol-6 .projDescContainer #projRolesContainer .projRoles {
        margin-right: 0;
        width: 100%;
        text-align: center;
    }
    #wrapper #mainContainer #projDesc .projCol-6 .projDescContainer #projRolesContainer .projRoles p {
        font-size: 1rem;
    }
    #wrapper #mainContainer #projGallery {
        padding: 10rem 2rem 10rem;
    }
    #wrapper #mainContainer #projGallery #projGallerySec1 img, 
    #wrapper #mainContainer #projGallery #projGallerySec2 img, 
    #wrapper #mainContainer #projGallery #projGallerySec3 img, 
    #wrapper #mainContainer #projGallery #projGallerySec4 img, 
    #wrapper #mainContainer #projGallery #projGallerySec5 img, 
    #wrapper #mainContainer #projGallery #projGallerySec6 img {
        border-radius: 1.5rem;
    }
    #wrapper #mainContainer #projGallery #projGallerySec1 {
        margin: 0 0 10rem;
    }
    #wrapper #mainContainer #projGallery #projGallerySec2 {
        margin-bottom: 10rem;
        width: 100%;
    }
    #wrapper #mainContainer #projGallery #projGallerySec3 {
        margin-bottom: 10rem;
    }
    #wrapper #mainContainer #projGallery #projGallerySec3 img {
        width: 100%;
    }
    #wrapper #mainContainer #projGallery #projGallerySec4 {
        margin-bottom: 10rem;
    }
    #wrapper #mainContainer #projGallery #projGallerySec4 img {
        width: 100%;
    }
    #wrapper #mainContainer #projGallery #projGallerySec5 {
        margin-top: 0;
        width: 100%;
        margin-bottom: 0;
    }
    #wrapper #mainContainer #projSlider {
        padding-bottom: 12rem;
    }
    #wrapper #mainContainer #projSlider #projImgContainer {
        height: 35vh;
    }
    #wrapper #mainContainer #projSlider #projImgContainer #currProjImg {
        width: 100%;
    }
    #wrapper #mainContainer #projSlider #projImgContainer #nextProjImg {
        display: none;
    }
    #wrapper #mainContainer #projSlider #projSliderNavigation {
        flex-wrap: wrap;
    }
    #wrapper #mainContainer #projSlider #projSliderNavigation #projNavigation {
        width: 100%;
        cursor: pointer;
    }
    #wrapper #mainContainer #projSlider #projSliderNavigation #projNavigation .projNavCol-6 {
        padding: 1.5rem;
    }
    #wrapper #mainContainer #projSlider #projSliderNavigation #projNavigation .projNavCol-6 i {
        font-size: 2rem;
    }
    #wrapper #mainContainer #projSlider #projSliderNavigation #currProjTitleContainer {
        width: 100%;
    }
    #wrapper #mainContainer #projSlider #projSliderNavigation #currProjTitleContainer #currProjTitle {
        padding: 3rem 1.5rem 3rem 2rem;
        width: 80%;
    }
    #wrapper #mainContainer #projSlider #projSliderNavigation #currProjTitleContainer #currProjTitle #projSliderTitle {
        font-size: 2.5rem;
    }
    #wrapper #mainContainer #projSlider #projSliderNavigation #currProjTitleContainer #viewProjPageBtn {
        width: 20%;
        border: 1px solid white;
        margin-right: 2rem;
        cursor: pointer;
    }
    #wrapper #mainContainer #projSlider #projSliderNavigation #currProjTitleContainer #viewProjPageBtn #projSliderLink {
        font-size: 0.8rem;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    * {
        cursor: inherit;
    }
    #wrapper #mainContainer #logoNav #logoContainer {
        padding: 2rem 3rem 0;
    }
    #wrapper #mainContainer #logoNav #logoContainer a img {
        cursor: pointer;
    }
    #wrapper #mainContainer #navbar {
        display: none;
    }
    #wrapper #mobHamburger {
        display: block;
    }
    #wrapper #mainContainer #floatingSocials {
        right: 2rem;
    }
    #wrapper #mainContainer a .linkedinIcon, 
    #wrapper #mainContainer a .githubIcon, 
    #wrapper #mainContainer a .mailIcon {
        right: 2.5rem;
        bottom: 3rem;
    }
    #wrapper #mainContainer #cursors {
        display: none;
    }
    #wrapper.active #mobNavLinks li {
        cursor: pointer;
    }
    #wrapper #mainContainer #homeHeading {
        padding: 3rem;
    }
    #wrapper #mainContainer #homeHeading h1 {
        font-size: 6rem;
    }
    #wrapper #mainContainer #homeHeading h4 {
        font-size: 1.2rem;
        letter-spacing: 0.2rem;
    }
    #wrapper #mainContainer #profileSummary {
        padding: 15rem 3rem 10rem;
    }
    #wrapper #mainContainer #profileSummary h1 {
        font-size: 6rem;
        flex-wrap: wrap;
    }
    #wrapper #mainContainer #profileSummary h1 #nameHeadingAlt {
        padding-left: 0;
        text-align: right;
        width: 100%;
    }
    #wrapper #mainContainer #profileSummary #profileDescription {
        justify-content: center;
    }
    #wrapper #mainContainer #profileSummary #profileDescription h4 {
        width: 100%;
        font-size: 1.7rem;
    }
    #wrapper #mainContainer #codingLaptopBg img {
        height: 50vh;
    }
    #wrapper #mainContainer #profileImage {
        padding-right: 5rem;
        padding-left: 5rem;
        width: 100%;
        margin-top: -35%;
    }
    #wrapper #mainContainer #profileImage img {
        cursor: pointer;
        width: 100%;
    }
    #wrapper #mainContainer #profileImage #resumeContainer {
        width: 100%;
    }
    #wrapper #mainContainer #profileImage #resumeContainer a {
        cursor: pointer;
    }
    #wrapper #mainContainer #profileBackground {
        margin: 0;
        padding: 7rem 3rem 0;
    }
    #wrapper #mainContainer #profileBackground #profileBackgroundContainer h2 {
        font-size: 3rem;
    }
    #wrapper #mainContainer #profileBackground #profileBackgroundContainer p {
        font-size: 1.3rem;
    }
    #wrapper #mainContainer #profileBackground #profileBackgroundContainer p a {
        cursor: pointer;
    }
    #wrapper #mainContainer #skills {
        margin-top: 0;
        padding: 7rem 0 5rem;
    }
    #wrapper #mainContainer #skills h1 {
        font-size: 3.5rem;
        padding: 0 3rem 1.5rem;
    }
    #wrapper #mainContainer #skills hr {
        margin: 0 3rem;
    }
    #wrapper #mainContainer #skills #skillsList .skillContainer {
        width: 25%;
    }
    #wrapper #mainContainer #skills #skillsList .skillContainer p {
        font-size: 1.3rem;
    }
    #wrapper #mainContainer #techTools #scrollTechTools {
        font-size: 15rem;
    }
    #wrapper #mainContainer #toolsGrid {
        padding: 7rem 3rem;
    }
    #wrapper #mainContainer #toolsGrid .toolsGridBox {
        width: 48%;
    }
    #wrapper #mainContainer #toolsGrid .toolsGridBox h2 {
        font-size: 1.5rem;
    }
    #wrapper #mainContainer #contactSec {
        flex-direction: column;
        padding: 0 3rem 10rem;
    }
    #wrapper #mainContainer #contactSec #contactLogo {
        width: 100%;
        text-align: center;
        padding-bottom: 5rem;
    }
    #wrapper #mainContainer #contactSec #contactLogo img {
        width: 25%;
    }
    #wrapper #mainContainer #contactSec #contactContent {
        width: 100%;
        padding-left: 0;
    }
    #wrapper #mainContainer #contactSec #contactContent p {
        font-size: 2rem;
        line-height: 4rem;
    }
    #wrapper #mainContainer #contactSec #contactContent p a {
        cursor: pointer;
    }
    #wrapper #mainContainer #letsWork .scrollingText a { 
        cursor: pointer;
    }
    #wrapper #mainContainer #letsWork .scrollingText a .letsWorkText .scrollContainer {
        height: 12rem;
        max-height: 12rem;
    }
    #wrapper #mainContainer #letsWork .scrollingText a .letsWorkText .scrollContainer h2 {
        font-size: 4rem;
    }
    #wrapper #mainContainer #letsWork .scrollingText a .scrollContainer .redDot {
        width: 1.5rem;
        height: 1.5rem;
    }
    #wrapper #mainContainer #workGallery {
        padding: 10rem 1rem;
    }
    #wrapper #mainContainer #workGallery .project {
        width: 100%;
        margin-bottom: 5rem;
    }
    #wrapper #mainContainer #workGallery .project:nth-child(odd) {
        margin-top: 0;
    }
    #wrapper #mainContainer #workGallery .project a {
        padding: 3rem 2rem;
        cursor: pointer;
    }
    #wrapper #mainContainer #workGallery .project a .projectContent h2 {
        font-size: 4rem;
    }
    #wrapper #mainContainer #dowcoBanner,
    #wrapper #mainContainer #pontusBanner,
    #wrapper #mainContainer #mymindBanner,
    #wrapper #mainContainer #rtohomesBanner,
    #wrapper #mainContainer #tudorconsultingBanner,
    #wrapper #mainContainer #capturetheflagBanner {
        background-attachment: scroll;
    }
    #wrapper #mainContainer #projDesc {
        padding: 10rem 3rem;
        border-top-left-radius: 5rem;
        border-top-right-radius: 5rem;
    }
    #wrapper #mainContainer #projDesc h1 {
        font-size: 5.5rem;
    }
    #wrapper #mainContainer #projDesc .projCol-6 {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    #wrapper #mainContainer #projDesc .projCol-6 #viewProjBtn {
        display: none;
    }
    #wrapper #mainContainer #projDesc .projCol-6 #viewProjMobBtn {
        display: inline;
        margin: 0 auto;
        cursor: pointer;
    }
    #wrapper #mainContainer #projDesc .projCol-6 .projDescContainer a {
        cursor: pointer;
    }
    #wrapper #mainContainer #projDesc .projCol-6 .projDescContainer #projRolesContainer .projRoles p {
        font-size: 1rem;
    }
    #wrapper #mainContainer #projGallery {
        padding: 10rem 3rem 10rem;
    }
    #wrapper #mainContainer #projGallery .active {
        -webkit-transform: scale(1.3);
        -moz-transform: scale(1.3);
        -ms-transform: scale(1.3);
        -o-transform: scale(1.3);
        transform: scale(1.3);
    }
    #wrapper #mainContainer #projGallery #projGallerySec1 {
        margin: 0 3rem 10rem;
    }
    #wrapper #mainContainer #projGallery #projGallerySec2 {
        margin-bottom: 10rem;
        width: 80%;
    }
    #wrapper #mainContainer #projGallery #projGallerySec3 {
        margin-bottom: 10rem;
    }
    #wrapper #mainContainer #projGallery #projGallerySec3 img {
        width: 80%;
    }
    #wrapper #mainContainer #projGallery #projGallerySec3.active {
        margin-right: 1rem;
    }
    #wrapper #mainContainer #projGallery #projGallerySec4 img {
        width: 70%;
    }
    #wrapper #mainContainer #projGallery #projGallerySec4.active {
        margin-right: 1rem;
    }
    #wrapper #mainContainer #projGallery #projGallerySec5 {
        margin-top: -7rem;
        width: 70%;
        margin-bottom: 0;
    }
    #wrapper #mainContainer #projGallery #projGallerySec5.active {
        margin-top: 0;
    }
    #wrapper #mainContainer #projSlider {
        padding-bottom: 12rem;
    }
    #wrapper #mainContainer #projSlider #projImgContainer {
        height: 35vh;
    }
    #wrapper #mainContainer #projSlider #projSliderNavigation #currProjTitleContainer #currProjTitle {
        padding: 2rem 1.5rem;
    }
    #wrapper #mainContainer #projSlider #projSliderNavigation #currProjTitleContainer #currProjTitle #projSliderTitle {
        font-size: 2.5rem;
    }
    #wrapper #mainContainer #projSlider #projSliderNavigation #currProjTitleContainer #viewProjPageBtn {
        width: 20%;
        border: 1px solid white;
        margin-right: 1rem;
        cursor: pointer;
    }
    #wrapper #mainContainer #projSlider #projSliderNavigation #currProjTitleContainer #viewProjPageBtn #projSliderLink {
        font-size: 0.8rem;
    }
    #wrapper #mainContainer #projSlider #projSliderNavigation #projNavigation {
        cursor: pointer;
    }
    #wrapper #mainContainer #projSlider #projSliderNavigation #projNavigation .projNavCol-6 {
        padding: 2rem;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    * {
        cursor: inherit;
    }
    #wrapper #mainContainer #logoNav #logoContainer {
        padding: 3rem 3rem 0;
    }
    #wrapper #mainContainer #logoNav #logoContainer a img {
        cursor: pointer;
    }
    #wrapper #mainContainer #navbar {
        display: none;
    }
    #wrapper #mobHamburger {
        display: block;
    }   
    #wrapper #mainContainer #floatingSocials {
        right: 2rem;
    }
    #wrapper #mainContainer a .linkedinIcon, 
    #wrapper #mainContainer a .githubIcon, 
    #wrapper #mainContainer a .mailIcon {
        right: 2.5rem;
        bottom: 3rem;
    }
    #wrapper #mainContainer #cursors {
        display: none;
    }
    #wrapper.active #mobNavLinks li {
        cursor: pointer;
    }
    #wrapper #mainContainer #homeHeading {
        padding: 3rem;
    }
    #wrapper #mainContainer #homeHeading h1 {
        font-size: 9rem;
    }
    #wrapper #mainContainer #homeHeading h4 {
        font-size: 1.3rem;
    }
    #wrapper #mainContainer #profileSummary {
        padding: 15rem 3rem 10rem;
    }
    #wrapper #mainContainer #profileSummary h1 {
        font-size: 7rem;
        flex-wrap: wrap;
    }
    #wrapper #mainContainer #profileSummary h1 #nameHeadingAlt {
        padding-left: 0;
        text-align: right;
        width: 100%;
    }
    #wrapper #mainContainer #profileSummary #profileDescription {
        justify-content: center;
    }
    #wrapper #mainContainer #profileSummary #profileDescription h4 {
        width: 100%;
    }
    #wrapper #mainContainer #codingLaptopBg img {
        height: 50vh;
    }
    #wrapper #mainContainer #profileImage {
        padding-left: 3rem;
        width: 100%;
        flex-wrap: nowrap;
    }
    #wrapper #mainContainer #profileImage img {
        cursor: pointer;
        width: 45%;
    }
    #wrapper #mainContainer #profileImage #resumeContainer {
        width: 55%;
        align-self: center;
        padding-top: 12rem;
    }
    #wrapper #mainContainer #profileImage #resumeContainer a {
        cursor: pointer;
    }
    #wrapper #mainContainer #profileBackground {
        margin: 0;
        padding: 10rem 3rem 0;
    }
    #wrapper #mainContainer #profileBackground #profileBackgroundContainer h2 {
        font-size: 3.3rem;
    }
    #wrapper #mainContainer #profileBackground #profileBackgroundContainer p a {
        cursor: pointer;
    }
    #wrapper #mainContainer #skills {
        margin-top: 0;
        padding: 10rem 0 5rem;
    }
    #wrapper #mainContainer #skills h1 {
        padding: 0 3rem 1.5rem;
    }
    #wrapper #mainContainer #skills hr {
        margin: 0 3rem;
    }
    #wrapper #mainContainer #skills #skillsList .skillContainer {
        width: 25%;
    }
    #wrapper #mainContainer #skills #skillsList .skillContainer p {
        font-size: 1.3rem;
    }
    #wrapper #mainContainer #techTools #scrollTechTools {
        font-size: 15rem;
    }
    #wrapper #mainContainer #toolsGrid {
        padding: 7rem 3rem;
    }
    #wrapper #mainContainer #toolsGrid .toolsGridBox {
        width: 48%;
    }
    #wrapper #mainContainer #toolsGrid .toolsGridBox h2 {
        font-size: 1.5rem;
    }
    #wrapper #mainContainer #contactSec {
        flex-direction: column;
        padding: 0 3rem 10rem;
    }
    #wrapper #mainContainer #contactSec #contactLogo {
        width: 100%;
        text-align: center;
        padding-bottom: 5rem;
    }
    #wrapper #mainContainer #contactSec #contactLogo img {
        width: 25%;
    }
    #wrapper #mainContainer #contactSec #contactContent {
        width: 100%;
        padding-left: 0;
    }
    #wrapper #mainContainer #contactSec #contactContent p {
        font-size: 2rem;
        line-height: 4rem;
    }
    #wrapper #mainContainer #contactSec #contactContent p a {
        cursor: pointer;
    }
    #wrapper #mainContainer #letsWork .scrollingText a { 
        cursor: pointer;
    }
    #wrapper #mainContainer #letsWork .scrollingText a .letsWorkText .scrollContainer {
        height: 12rem;
        max-height: 12rem;
    }
    #wrapper #mainContainer #letsWork .scrollingText a .letsWorkText .scrollContainer h2 {
        font-size: 5rem;
    }
    #wrapper #mainContainer #workGallery {
        padding: 10rem 5rem;
    }
    #wrapper #mainContainer #workGallery .project {
        width: 100%;
        margin-bottom: 5rem;
    }
    #wrapper #mainContainer #workGallery .project:nth-child(odd) {
        margin-top: 0;
    }
    #wrapper #mainContainer #workGallery .project a {
        padding: 3rem 2rem;
        cursor: pointer;
    }
    #wrapper #mainContainer #workGallery .project a .projectContent h2 {
        font-size: 4rem;
    }
    #wrapper #mainContainer #dowcoBanner,
    #wrapper #mainContainer #pontusBanner,
    #wrapper #mainContainer #mymindBanner,
    #wrapper #mainContainer #rtohomesBanner,
    #wrapper #mainContainer #tudorconsultingBanner,
    #wrapper #mainContainer #capturetheflagBanner {
        background-attachment: scroll;
    }
    #wrapper #mainContainer #projDesc {
        padding: 10rem 3rem;
    }
    #wrapper #mainContainer #projDesc h1 {
        font-size: 7rem;
    }
    #wrapper #mainContainer #projDesc .projCol-6 {
        width: 100%;
    }
    #wrapper #mainContainer #projDesc .projCol-6 #viewProjBtn {
        display: none;
    }
    #wrapper #mainContainer #projDesc .projCol-6 #viewProjMobBtn {
        display: inline;
        cursor: pointer;
    }
    #wrapper #mainContainer #projDesc .projCol-6 .projDescContainer a {
        cursor: pointer;
    }
    #wrapper #mainContainer #projGallery {
        padding: 10rem 3rem 10rem;
    }
    #wrapper #mainContainer #projGallery .active {
        -webkit-transform: scale(1.3);
        -moz-transform: scale(1.3);
        -ms-transform: scale(1.3);
        -o-transform: scale(1.3);
        transform: scale(1.3);
    }
    #wrapper #mainContainer #projGallery #projGallerySec1 {
        margin: 0 3rem 10rem;
    }
    #wrapper #mainContainer #projGallery #projGallerySec2 {
        margin-bottom: 10rem;
        width: 80%;
    }
    #wrapper #mainContainer #projGallery #projGallerySec3 {
        margin-bottom: 10rem;
    }
    #wrapper #mainContainer #projGallery #projGallerySec3 img {
        width: 80%;
    }
    #wrapper #mainContainer #projGallery #projGallerySec3.active {
        margin-right: 2.5rem;
    }
    #wrapper #mainContainer #projGallery #projGallerySec4 img {
        width: 70%;
    }
    #wrapper #mainContainer #projGallery #projGallerySec4.active {
        margin-right: 2.5rem;
    }
    #wrapper #mainContainer #projGallery #projGallerySec5 {
        margin-top: -7rem;
        width: 70%;
    }
    #wrapper #mainContainer #projGallery #projGallerySec5.active {
        margin-top: 0;
    }
    #wrapper #mainContainer #projSlider {
        padding-bottom: 15rem;
    }
    #wrapper #mainContainer #projSlider #projImgContainer {
        height: 45vh;
    }
    #wrapper #mainContainer #projSlider #projSliderNavigation #projNavigation {
        cursor: pointer;
    }
    #wrapper #mainContainer #projSlider #projSliderNavigation #currProjTitleContainer #currProjTitle {
        padding: 3rem 1.5rem 3rem 3rem;
    }
    #wrapper #mainContainer #projSlider #projSliderNavigation #currProjTitleContainer #currProjTitle #projSliderTitle {
        font-size: 3rem;
    }
    #wrapper #mainContainer #projSlider #projSliderNavigation #currProjTitleContainer #viewProjPageBtn {
        width: 20%;
        cursor: pointer;
    }
    #wrapper #mainContainer #projSlider #projSliderNavigation #currProjTitleContainer #viewProjPageBtn #projSliderLink {
        font-size: 1rem;
    }
}

@media (min-width: 992px) and (max-width: 1299.98px) {
    #wrapper #mainContainer #logoNav #logoContainer {
        padding: 3rem 5rem 0;
    }
    #wrapper #mainContainer #navbar {
        padding: 0 20%;
    }
    #wrapper #mainContainer #floatingSocials {
        right: 4rem;
    }
    #wrapper #mainContainer a .linkedinIcon, 
    #wrapper #mainContainer a .githubIcon, 
    #wrapper #mainContainer a .mailIcon {
        right: 4.5rem;
        bottom: 3rem;
    }
    #wrapper #mainContainer #homeHeading {
        padding: 3rem 5rem;
    }
    #wrapper #mainContainer #homeHeading h1 {
        font-size: 9rem;
    }
    #wrapper #mainContainer #homeHeading h4 {
        font-size: 1.5rem;
    }
    #wrapper #mainContainer #profileSummary {
        padding: 12rem 5rem 10rem;
    }
    #wrapper #mainContainer #profileSummary h1 {
        font-size: 9rem;
        flex-wrap: wrap;
    }
    #wrapper #mainContainer #profileSummary h1 #nameHeadingAlt {
        padding-left: 0;
        text-align: right;
        width: 100%;
    }
    #wrapper #mainContainer #profileSummary #profileDescription {
        justify-content: center;
    }
    #wrapper #mainContainer #profileSummary #profileDescription h4 {
        width: 100%;
    }
    #wrapper #mainContainer #codingLaptopBg img {
        height: 60vh;
    }
    #wrapper #mainContainer #profileImage {
        padding-left: 5rem;
        width: 100%;
        flex-wrap: nowrap;
    }
    #wrapper #mainContainer #profileImage img {
        width: 55%;
    }
    #wrapper #mainContainer #profileImage #resumeContainer {
        width: 45%;
        align-self: center;
        padding-top: 15rem;
    }
    #wrapper #mainContainer #profileBackground {
        margin: 0;
        padding: 10rem 5rem 0;
    }
    #wrapper #mainContainer #profileBackground #profileBackgroundContainer h2 {
        font-size: 3.3rem;
    }
    #wrapper #mainContainer #skills {
        margin-top: 0;
        padding: 10rem 0 5rem;
    }
    #wrapper #mainContainer #skills h1 {
        padding: 0 5rem 1.5rem;
    }
    #wrapper #mainContainer #skills hr {
        margin: 0 5rem;
    }
    #wrapper #mainContainer #skills #skillsList .skillContainer {
        width: 25%;
    }
    #wrapper #mainContainer #techTools #scrollTechTools {
        font-size: 15rem;
    }
    #wrapper #mainContainer #toolsGrid {
        padding: 7rem 5rem;
    }
    #wrapper #mainContainer #toolsGrid .toolsGridBox {
        width: 48%;
    }
    #wrapper #mainContainer #contactSec {
        flex-direction: column;
        padding: 0 5rem 10rem;
    }
    #wrapper #mainContainer #contactSec #contactLogo {
        width: 100%;
        text-align: center;
        padding-bottom: 5rem;
    }
    #wrapper #mainContainer #contactSec #contactLogo img {
        width: 25%;
    }
    #wrapper #mainContainer #contactSec #contactContent {
        width: 100%;
        padding-left: 0;
    }
    #wrapper #mainContainer #contactSec #contactContent p {
        font-size: 2.3rem;
        line-height: 4rem;
    }
    #wrapper #mainContainer #workGallery {
        padding: 10rem 5rem;
    }
    #wrapper #mainContainer #workGallery .project a {
        padding: 3rem 2rem;
    }
    #wrapper #mainContainer #workGallery .project a .projectContent h2 {
        font-size: 3.5rem;
    }
    #wrapper #mainContainer #projDesc {
        padding: 10rem 5rem;
    }
    #wrapper #mainContainer #projDesc h1 {
        font-size: 7rem;
    }
    #wrapper #mainContainer #projDesc .projCol-6 .projDescContainer #projRolesContainer .projRoles p {
        font-size: 1.1rem;
    }
    #wrapper #mainContainer #projGallery {
        padding: 20rem 5rem 10rem;
    }
    #wrapper #mainContainer #projGallery .active {
        -webkit-transform: scale(1.3);
        -moz-transform: scale(1.3);
        -ms-transform: scale(1.3);
        -o-transform: scale(1.3);
        transform: scale(1.3);
    }
    #wrapper #mainContainer #projGallery #projGallerySec1 {
        margin: 0 5rem 15rem;
    }
    #wrapper #mainContainer #projGallery #projGallerySec2 {
        margin-bottom: 15rem;
        width: 70%;
    }
    #wrapper #mainContainer #projGallery #projGallerySec3 {
        margin-bottom: 15rem;
    }
    #wrapper #mainContainer #projGallery #projGallerySec3.active {
        margin-right: 2rem;
    }
    #wrapper #mainContainer #projGallery #projGallerySec4.active {
        margin-right: 2rem;
    }
    #wrapper #mainContainer #projGallery #projGallerySec5 {
        margin-top: -7rem;
        width: 70%;
    }
    #wrapper #mainContainer #projGallery #projGallerySec5.active {
        margin-top: 0;
    }
    #wrapper #mainContainer #projSlider {
        padding-bottom: 15rem;
    }
    #wrapper #mainContainer #projSlider #projImgContainer {
        height: 45vh;
    }
    #wrapper #mainContainer #projSlider #projSliderNavigation #currProjTitleContainer #currProjTitle {
        padding: 3rem 1.5rem 3rem 5rem;
    }
    #wrapper #mainContainer #projSlider #projSliderNavigation #currProjTitleContainer #currProjTitle #projSliderTitle {
        font-size: 4rem;
    }
    #wrapper #mainContainer #projSlider #projSliderNavigation #currProjTitleContainer #viewProjPageBtn #projSliderLink {
        font-size: 1.1rem;
    }
}

@media (min-width: 1300px) and (max-width: 1799.98px) {
    #wrapper #mainContainer #homeHeading {
        padding: 3rem 5rem;
    }
    #wrapper #mainContainer #homeHeading h1 {
        font-size: 9.5rem;
    }
    #wrapper #mainContainer #homeHeading h4 {
        font-size: 1.5rem;
    }
    #wrapper #mainContainer #profileBackground #profileBackgroundContainer h2 {
        font-size: 3.3rem;
    }
    #wrapper #mainContainer #skills {
        margin-top: 0;
    }
    #wrapper #mainContainer #contactSec #contactLogo {
        width: 25%;
    }
    #wrapper #mainContainer #contactSec #contactContent {
        width: 75%;
    }
    #wrapper #mainContainer #contactSec #contactContent p {
        font-size: 2.3rem;
        line-height: 4rem;
    }
    #wrapper #mainContainer #workGallery .project a .projectContent h2 {
        font-size: 4rem;
    }
    #wrapper #mainContainer #projDesc .projCol-6 .projDescContainer #projRolesContainer .projRoles p {
        font-size: 1.1rem;
    }
    #wrapper #mainContainer #projGallery .active {
        -webkit-transform: scale(1.3);
        -moz-transform: scale(1.3);
        -ms-transform: scale(1.3);
        -o-transform: scale(1.3);
        transform: scale(1.3);
    }
    #wrapper #mainContainer #projGallery #projGallerySec1 {
        margin: 0 8rem 15rem;
    }
    #wrapper #mainContainer #projGallery #projGallerySec2 {
        margin-bottom: 15rem;
    }
    #wrapper #mainContainer #projGallery #projGallerySec3 {
        margin-bottom: 15rem;
    }
}