:root {
    --primaryColor: #FD515B;
    --secondaryColor: #0F1630;
}

#wrapper #mainContainer .singleWorkBanner {
    width: 100%;
    height: 120vh;
}

#wrapper #mainContainer #dowcoBanner {
    background: url('../img/dowco-thumb.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#wrapper #mainContainer #pontusBanner {
    background: url('../img/pontus-thumb.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#wrapper #mainContainer #mymindBanner {
    background: url('../img/mymind-thumb.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#wrapper #mainContainer #rtohomesBanner {
    background: url('../img/rtohomes-thumb.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#wrapper #mainContainer #tudorconsultingBanner {
    background: url('../img/tudorconsulting-thumb.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#wrapper #mainContainer #projDesc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-top: -20vh;
    padding: 10rem 7rem;
    background: white;
    border-top-left-radius: 7rem;
    border-top-right-radius: 7rem;
    z-index: 2;
}

#wrapper #mainContainer #projDesc h1 {
    font-family: "keplerStd";
    font-size: 8rem;
    font-weight: 600;
    color: var(--secondaryColor);
    padding-bottom: 5rem;
    width: 100%;
}

#wrapper #mainContainer #projDesc .projCol-6 {
    width: 47.5%;
}

#wrapper #mainContainer #projDesc .projCol-6 .projDescContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 5rem;
}

#wrapper #mainContainer #projDesc .projCol-6 .projDescContainer h3 {
    font-family: "keplerstd";
    font-size: 2.5rem;
    font-weight: 500;
    color: var(--secondaryColor);
}

#wrapper #mainContainer #projDesc .projCol-6 .projDescContainer hr {
    border: 2px solid var(--primaryColor);
    border-radius: 10rem;
    width: 5rem;
    margin: 1rem 0;
}

#wrapper #mainContainer #projDesc .projCol-6 .projDescContainer p {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--secondaryColor);
    line-height: 2.2rem;
    padding-top: 1.5rem;
}

#wrapper #mainContainer #projDesc .projCol-6 .projDescContainer a {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--primaryColor);
    line-height: 2.2rem;
    padding-top: 1.5rem;
}

#wrapper #mainContainer #projDesc .projCol-6 .projDescContainer #projRolesContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 1.5rem;
}

#wrapper #mainContainer #projDesc .projCol-6 .projDescContainer #projRolesContainer .projRoles {
    width: fit-content;
    padding: 1rem 1.5rem;
    background: transparent;
    border: 1px solid var(--primaryColor);
    border-radius: 500px;
    margin-bottom: 1.5rem;
    margin-right: 1.5rem;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -ms-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}


#wrapper #mainContainer #projDesc .projCol-6 .projDescContainer #projRolesContainer .projRoles p {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--primaryColor);
    padding: 0;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -ms-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}

#wrapper #mainContainer #projDesc .projCol-6 .projDescContainer #projRolesContainer .projRoles:hover {
    background: var(--primaryColor);
}

#wrapper #mainContainer #projDesc .projCol-6 .projDescContainer #projRolesContainer .projRoles:hover p {
    color: white;
}

#wrapper #mainContainer #projDesc .projCol-6 #viewProjBtn {
    font-family: "keplerStd";
    font-size: 1.7rem;
    font-weight: 400;
    color: var(--primaryColor);
    text-decoration: none;
    border-bottom: 2px solid var(--primaryColor);
    color: var(--primaryColor);
    padding-bottom: 1.5rem;
}

#wrapper #mainContainer #projDesc .projCol-6 #viewProjBtn i {
    padding-left: 1rem;
}

#wrapper #mainContainer #projGallery {
    width: 100%;
    padding: 20rem 7rem 10rem;
}

#wrapper #mainContainer #projGallery #projGallerySec1 img,
#wrapper #mainContainer #projGallery #projGallerySec2 img,
#wrapper #mainContainer #projGallery #projGallerySec3 img,
#wrapper #mainContainer #projGallery #projGallerySec4 img,
#wrapper #mainContainer #projGallery #projGallerySec5 img,
#wrapper #mainContainer #projGallery #projGallerySec6 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    border-radius: 3rem;
}

/* #wrapper #mainContainer #projGallery #pontusVideoSec {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

#wrapper #mainContainer #projGallery #pontusVideoSec video {
    width: 100%;
    border-radius: 3rem;
} */

#wrapper #mainContainer #projGallery .active {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

#wrapper #mainContainer #projGallery #projGallerySec1 {
    margin: 0 8rem 20rem;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -ms-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}

#wrapper #mainContainer #projGallery #projGallerySec2 {
    width: 60%;
    margin-bottom: 20rem;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -ms-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}

#wrapper #mainContainer #projGallery #projGallerySec3 {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-bottom: 20rem;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -ms-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}

#wrapper #mainContainer #projGallery #projGallerySec3 img {
    width: 70%;
}

#wrapper #mainContainer #projGallery #projGallerySec4 {
    display: flex;
    flex-direction: row;
    justify-content: end;
    position: relative;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -ms-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
    z-index: 2;
}

#wrapper #mainContainer #projGallery #projGallerySec4 img {
    width: 60%;
    z-index: 2;
}

#wrapper #mainContainer #projGallery #projGallerySec5 {
    margin-top: -15rem;
    margin-bottom: 10rem;
    width: 60%;
    position: relative;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -ms-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
    z-index: 1;
}

#wrapper #mainContainer #projSlider {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 20rem;
}

#wrapper #mainContainer #projSlider #projImgContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70vh;
}

#wrapper #mainContainer #projSlider #projImgContainer #currProjImg {
    width: 60%;
}

#wrapper #mainContainer #projSlider #projImgContainer #nextProjImg {
    position: relative;
    width: 40%;
}

#wrapper #mainContainer #projSlider #projImgContainer #nextProjImg::before {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    -webkit-backdrop-filter: blur(3px);
    -moz-backdrop-filter: blur(3px);
    -ms-backdrop-filter: blur(3px);
    -o-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    background: rgba(15, 22, 48, 0.6);
    z-index: 1;
}

#wrapper #mainContainer #projSlider #projImgContainer #currProjImg img,
#wrapper #mainContainer #projSlider #projImgContainer #nextProjImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    opacity: 1;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

#wrapper #mainContainer #projSlider #projImgContainer #currProjImg img.fadeTransition,
#wrapper #mainContainer #projSlider #projImgContainer #nextProjImg img.fadeTransition {
    opacity: 0;
}

#wrapper #mainContainer #projSlider #projSliderNavigation {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#wrapper #mainContainer #projSlider #projSliderNavigation #currProjTitleContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    width: 60%;
}

#wrapper #mainContainer #projSlider #projSliderNavigation #currProjTitleContainer #currProjTitle {
    padding: 5rem 1.5rem 5rem 7rem;
    width: 75%;
}

#wrapper #mainContainer #projSlider #projSliderNavigation #currProjTitleContainer #currProjTitle #projSliderTitle {
    font-family: "keplerStd";
    font-size: 5rem;
    font-weight: 500;
    color: white;
}

#wrapper #mainContainer #projSlider #projSliderNavigation #currProjTitleContainer #viewProjPageBtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 15%;
    height: min-content;
    aspect-ratio: 1 / 1;
    background: transparent;
    border: 2px solid white;
    border-radius: 500px;
    margin-right: 2rem;
}

#wrapper #mainContainer #projSlider #projSliderNavigation #currProjTitleContainer #viewProjPageBtn #projSliderLink {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: 400;
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

#wrapper #mainContainer #projSlider #projSliderNavigation #projNavigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid white;
    width: 40%;
}

#wrapper #mainContainer #projSlider #projSliderNavigation #projNavigation .projNavCol-6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100%;
    cursor: pointer;
    text-align: center;
    padding: 3rem;
}

#wrapper #mainContainer #projSlider #projSliderNavigation #projNavigation .projNavCol-6:nth-child(2) {
    border-left: 1px solid white;
}

#wrapper #mainContainer #projSlider #projSliderNavigation #projNavigation .projNavCol-6 i {
    font-size: 3rem;
    color: white;
}