:root {
    --primaryColor: #FD515B;
    --secondaryColor: #0F1630;
}

#wrapper #mainContainer .singleWorkBanner {
    width: 100%;
    height: 120vh;
}

#wrapper #mainContainer #dowcoBanner {
    background: url('../img/dowco-thumb.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#wrapper #mainContainer #projDesc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-top: -20vh;
    padding: 10rem 7rem;
    background: white;
    border-top-left-radius: 7rem;
    border-top-right-radius: 7rem;
    z-index: 2;
}

#wrapper #mainContainer #projDesc h1 {
    font-family: "keplerStd";
    font-size: 8rem;
    font-weight: 600;
    color: var(--secondaryColor);
    padding-bottom: 5rem;
    width: 100%;
}

#wrapper #mainContainer #projDesc .projCol-6 {
    width: 47.5%;
}

#wrapper #mainContainer #projDesc .projCol-6 .projDescContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 5rem;
}

#wrapper #mainContainer #projDesc .projCol-6 .projDescContainer h3 {
    font-family: "keplerstd";
    font-size: 2.5rem;
    font-weight: 500;
    color: var(--secondaryColor);
}

#wrapper #mainContainer #projDesc .projCol-6 .projDescContainer hr {
    border: 2px solid var(--primaryColor);
    border-radius: 10rem;
    width: 5rem;
    margin: 1rem 0;
}

#wrapper #mainContainer #projDesc .projCol-6 .projDescContainer p {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--secondaryColor);
    line-height: 2.2rem;
    padding-top: 1.5rem;
}

#wrapper #mainContainer #projDesc .projCol-6 .projDescContainer #projRolesContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 1.5rem;
}

#wrapper #mainContainer #projDesc .projCol-6 .projDescContainer #projRolesContainer .projRoles {
    width: fit-content;
    padding: 1rem 1.5rem;
    background: transparent;
    border: 1px solid var(--primaryColor);
    border-radius: 500px;
    margin-bottom: 1.5rem;
    margin-right: 1.5rem;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -ms-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}


#wrapper #mainContainer #projDesc .projCol-6 .projDescContainer #projRolesContainer .projRoles p {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--primaryColor);
    padding: 0;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -ms-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}

#wrapper #mainContainer #projDesc .projCol-6 .projDescContainer #projRolesContainer .projRoles:hover {
    background: var(--primaryColor);
}

#wrapper #mainContainer #projDesc .projCol-6 .projDescContainer #projRolesContainer .projRoles:hover p {
    color: white;
}

#wrapper #mainContainer #projDesc .projCol-6 #viewProjBtn {
    font-family: "keplerStd";
    font-size: 1.7rem;
    font-weight: 400;
    color: var(--primaryColor);
    text-decoration: none;
    border-bottom: 2px solid var(--primaryColor);
    color: var(--primaryColor);
    padding-bottom: 1.5rem;
}

#wrapper #mainContainer #projDesc .projCol-6 #viewProjBtn i {
    padding-left: 1rem;
}

#wrapper #mainContainer #projGallery {
    width: 100%;
    padding: 20rem 7rem 10rem;
}

#wrapper #mainContainer #projGallery #projGallerySec1 img,
#wrapper #mainContainer #projGallery #projGallerySec2 img,
#wrapper #mainContainer #projGallery #projGallerySec3 img,
#wrapper #mainContainer #projGallery #projGallerySec4 img,
#wrapper #mainContainer #projGallery #projGallerySec5 img,
#wrapper #mainContainer #projGallery #projGallerySec6 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    border-radius: 3rem;
}

#wrapper #mainContainer #projGallery .active {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

#wrapper #mainContainer #projGallery #projGallerySec1 {
    margin: 0 8rem 20rem;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -ms-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}

#wrapper #mainContainer #projGallery #projGallerySec2 {
    width: 60%;
    margin-bottom: 20rem;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -ms-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}

#wrapper #mainContainer #projGallery #projGallerySec3 {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-bottom: 20rem;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -ms-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}

#wrapper #mainContainer #projGallery #projGallerySec3 img {
    width: 70%;
}

#wrapper #mainContainer #projGallery #projGallerySec4 {
    display: flex;
    flex-direction: row;
    justify-content: end;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -ms-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}

#wrapper #mainContainer #projGallery #projGallerySec4 img {
    width: 60%;
    z-index: 2;
}

#wrapper #mainContainer #projGallery #projGallerySec5 {
    margin-top: -15rem;
    margin-bottom: 10rem;
    width: 60%;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -ms-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}