:root {
    --primaryColor: #FD515B;
    --secondaryColor: #0F1630;
}

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

/* Fonts - Kepler Std */
@font-face {
    font-family: 'keplerStd';
    src: url('../fonts/KeplerStdLight.eot');
    src: url('../fonts/KeplerStdLight.otf') format('opentype'),
        url('../fonts/KeplerStdLight.woff2') format('woff2'),
        url('../fonts/KeplerStdLight.woff') format('woff'),
        url('../fonts/KeplerStdLight.ttf') format('truetype');
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: 'keplerStd';
    src: url('../fonts/KeplerStdLightIt.eot');
    src: url('../fonts/KeplerStdLightIt.otf') format('opentype'),
        url('../fonts/KeplerStdLightIt.woff2') format('woff2'),
        url('../fonts/KeplerStdLightIt.woff') format('woff'),
        url('../fonts/KeplerStdLightIt.ttf') format('truetype');
    font-style: italic;
    font-weight: 100;
}

@font-face {
    font-family: 'keplerStd';
    src: url('../fonts/KeplerStdRegular.eot');
    src: url('../fonts/KeplerStdRegular.otf') format('opentype'),
        url('../fonts/KeplerStdRegular.woff2') format('woff2'),
        url('../fonts/KeplerStdRegular.woff') format('woff'),
        url('../fonts/KeplerStdRegular.ttf') format('truetype');
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: 'keplerStd';
    src: url('../fonts/KeplerStdItalic.eot');
    src: url('../fonts/KeplerStdItalic.otf') format('opentype'),
        url('../fonts/KeplerStdItalic.woff2') format('woff2'),
        url('../fonts/KeplerStdItalic.woff') format('woff'),
        url('../fonts/KeplerStdItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: 200;
}

@font-face {
    font-family: 'keplerStd';
    src: url('../fonts/KeplerStdMedium.eot');
    src: url('../fonts/KeplerStdMedium.otf') format('opentype'),
        url('../fonts/KeplerStdMedium.woff2') format('woff2'),
        url('../fonts/KeplerStdMedium.woff') format('woff'),
        url('../fonts/KeplerStdMedium.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'keplerStd';
    src: url('../fonts/KeplerStdMediumIt.eot');
    src: url('../fonts/KeplerStdMediumIt.otf') format('opentype'),
        url('../fonts/KeplerStdMediumIt.woff2') format('woff2'),
        url('../fonts/KeplerStdMediumIt.woff') format('woff'),
        url('../fonts/KeplerStdMediumIt.ttf') format('truetype');
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: 'keplerStd';
    src: url('../fonts/KeplerStdSemibold.eot');
    src: url('../fonts/KeplerStdSemibold.otf') format('opentype'),
        url('../fonts/KeplerStdSemibold.woff2') format('woff2'),
        url('../fonts/KeplerStdSemibold.woff') format('woff'),
        url('../fonts/KeplerStdSemibold.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'keplerStd';
    src: url('../fonts/KeplerStdSemiboldIt.eot');
    src: url('../fonts/KeplerStdSemiboldIt.otf') format('opentype'),
        url('../fonts/KeplerStdSemiboldIt.woff2') format('woff2'),
        url('../fonts/KeplerStdSemiboldIt.woff') format('woff'),
        url('../fonts/KeplerStdSemiboldIt.ttf') format('truetype');
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: 'keplerStd';
    src: url('../fonts/KeplerStdBold.eot');
    src: url('../fonts/KeplerStdBold.otf') format('opentype'),
        url('../fonts/KeplerStdBold.woff2') format('woff2'),
        url('../fonts/KeplerStdBold.woff') format('woff'),
        url('../fonts/KeplerStdBold.ttf') format('truetype');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'keplerStd';
    src: url('../fonts/KeplerStdBoldIt.eot');
    src: url('../fonts/KeplerStdBoldIt.otf') format('opentype'),
        url('../fonts/KeplerStdBoldIt.woff2') format('woff2'),
        url('../fonts/KeplerStdBoldIt.woff') format('woff'),
        url('../fonts/KeplerStdBoldIt.ttf') format('truetype');
    font-style: italic;
    font-weight: 500;
}

@font-face {
    font-family: 'keplerStd';
    src: url('../fonts/KeplerStdBlack.eot');
    src: url('../fonts/KeplerStdBlack.otf') format('opentype'),
        url('../fonts/KeplerStdBlack.woff2') format('woff2'),
        url('../fonts/KeplerStdBlack.woff') format('woff'),
        url('../fonts/KeplerStdBlack.ttf') format('truetype');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'keplerStd';
    src: url('../fonts/KeplerStdBlackIt.eot');
    src: url('../fonts/KeplerStdBlackIt.otf') format('opentype'),
        url('../fonts/KeplerStdBlackIt.woff2') format('woff2'),
        url('../fonts/KeplerStdBlackIt.woff') format('woff'),
        url('../fonts/KeplerStdBlackIt.ttf') format('truetype');
    font-style: italic;
    font-weight: 600;
}

/* Fonts - TT Norms Pro */
@font-face {
    font-family: 'ttNormsPro';
    src: url('../fonts/TT-Norms-Pro-Thin.eot');
    src: url('../fonts/TT-Norms-Pro-Thin.otf') format('opentype'),
        url('../fonts/TT-Norms-Pro-Thin.woff2') format('woff2'),
        url('../fonts/TT-Norms-Pro-Thin.woff') format('woff'),
        url('../fonts/TT-Norms-Pro-Thin.ttf') format('truetype');
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: 'ttNormsPro';
    src: url('../fonts/TT-Norms-Pro-Thin-Italic.eot');
    src: url('../fonts/TT-Norms-Pro-Thin-Italic.otf') format('opentype'),
        url('../fonts/TT-Norms-Pro-Thin-Italic.woff2') format('woff2'),
        url('../fonts/TT-Norms-Pro-Thin-Italic.woff') format('woff'),
        url('../fonts/TT-Norms-Pro-Thin-Italic.ttf') format('truetype');
    font-style: italic;
    font-weight: 100;
}

@font-face {
    font-family: 'ttNormsPro';
    src: url('../fonts/TT-Norms-Pro-ExtraLight.eot');
    src: url('../fonts/TT-Norms-Pro-ExtraLight.otf') format('opentype'),
        url('../fonts/TT-Norms-Pro-ExtraLight.woff2') format('woff2'),
        url('../fonts/TT-Norms-Pro-ExtraLight.woff') format('woff'),
        url('../fonts/TT-Norms-Pro-ExtraLight.ttf') format('truetype');
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: 'ttNormsPro';
    src: url('../fonts/TT-Norms-Pro-ExtraLight-Italic.eot');
    src: url('../fonts/TT-Norms-Pro-ExtraLight-Italic.otf') format('opentype'),
        url('../fonts/TT-Norms-Pro-ExtraLight-Italic.woff2') format('woff2'),
        url('../fonts/TT-Norms-Pro-ExtraLight-Italic.woff') format('woff'),
        url('../fonts/TT-Norms-Pro-ExtraLight-Italic.ttf') format('truetype');
    font-style: italic;
    font-weight: 200;
}

@font-face {
    font-family: 'ttNormsPro';
    src: url('../fonts/TT-Norms-Pro-Light.eot');
    src: url('../fonts/TT-Norms-Pro-Light.otf') format('opentype'),
        url('../fonts/TT-Norms-Pro-Light.woff2') format('woff2'),
        url('../fonts/TT-Norms-Pro-Light.woff') format('woff'),
        url('../fonts/TT-Norms-Pro-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'ttNormsPro';
    src: url('../fonts/TT-Norms-Pro-Light-Italic.eot');
    src: url('../fonts/TT-Norms-Pro-Light-Italic.otf') format('opentype'),
        url('../fonts/TT-Norms-Pro-Light.woff2') format('woff2'),
        url('../fonts/TT-Norms-Pro-Light-Italic.woff') format('woff'),
        url('../fonts/TT-Norms-Pro-Light-Italic.ttf') format('truetype');
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: 'ttNormsPro';
    src: url('../fonts/TT-Norms-Pro-Regular.eot');
    src: url('../fonts/TT-Norms-Pro-Regular.otf') format('opentype'),
        url('../fonts/TT-Norms-Pro-Regular.woff2') format('woff2'),
        url('../fonts/TT-Norms-Pro-Regular.woff') format('woff'),
        url('../fonts/TT-Norms-Pro-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'ttNormsPro';
    src: url('../fonts/TT-Norms-Pro-Italic.eot');
    src: url('../fonts/TT-Norms-Pro-Italic.otf') format('opentype'),
        url('../fonts/TT-Norms-Pro-Italic.woff2') format('woff2'),
        url('../fonts/TT-Norms-Pro-Italic.woff') format('woff'),
        url('../fonts/TT-Norms-Pro-Italic.ttf') format('truetype');
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: 'ttNormsPro';
    src: url('../fonts/TT-Norms-Pro-Medium.eot');
    src: url('../fonts/TT-Norms-Pro-Medium.otf') format('opentype'),
        url('../fonts/TT-Norms-Pro-Medium.woff2') format('woff2'),
        url('../fonts/TT-Norms-Pro-Medium.woff') format('woff'),
        url('../fonts/TT-Norms-Pro-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'ttNormsPro';
    src: url('../fonts/TT-Norms-Pro-Medium-Italic.eot');
    src: url('../fonts/TT-Norms-Pro-Medium-Italic.otf') format('opentype'),
        url('../fonts/TT-Norms-Pro-Medium-Italic.woff2') format('woff2'),
        url('../fonts/TT-Norms-Pro-Medium-Italic.woff') format('woff'),
        url('../fonts/TT-Norms-Pro-Medium-Italic.ttf') format('truetype');
    font-style: italic;
    font-weight: 500;
}

@font-face {
    font-family: 'ttNormsPro';
    src: url('../fonts/TT-Norms-Pro-Bold.eot');
    src: url('../fonts/TT-Norms-Pro-Bold.otf') format('opentype'),
        url('../fonts/TT-Norms-Pro-Bold.woff2') format('woff2'),
        url('../fonts/TT-Norms-Pro-Bold.woff') format('woff'),
        url('../fonts/TT-Norms-Pro-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'ttNormsPro';
    src: url('../fonts/TT-Norms-Pro-Bold-Italic.eot');
    src: url('../fonts/TT-Norms-Pro-Bold-Italic.otf') format('opentype'),
        url('../fonts/TT-Norms-Pro-Bold-Italic.woff2') format('woff2'),
        url('../fonts/TT-Norms-Pro-Bold-Italic.woff') format('woff'),
        url('../fonts/TT-Norms-Pro-Bold-Italic.ttf') format('truetype');
    font-style: italic;
    font-weight: 600;
}

@font-face {
    font-family: 'ttNormsPro';
    src: url('../fonts/TT-Norms-Pro-ExtraBold.eot');
    src: url('../fonts/TT-Norms-Pro-ExtraBold.otf') format('opentype'),
        url('../fonts/TT-Norms-Pro-ExtraBold.woff2') format('woff2'),
        url('../fonts/TT-Norms-Pro-ExtraBold.woff') format('woff'),
        url('../fonts/TT-Norms-Pro-ExtraBold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'ttNormsPro';
    src: url('../fonts/TT-Norms-Pro-ExtraBold-Italic.eot');
    src: url('../fonts/TT-Norms-Pro-ExtraBold-Italic.otf') format('opentype'),
        url('../fonts/TT-Norms-Pro-ExtraBold-Italic.woff2') format('woff2'),
        url('../fonts/TT-Norms-Pro-ExtraBold-Italic.woff') format('woff'),
        url('../fonts/TT-Norms-Pro-ExtraBold-Italic.ttf') format('truetype');
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: 'ttNormsPro';
    src: url('../fonts/TT-Norms-Pro-Black.eot');
    src: url('../fonts/TT-Norms-Pro-Black.otf') format('opentype'),
        url('../fonts/TT-Norms-Pro-Black.woff2') format('woff2'),
        url('../fonts/TT-Norms-Pro-Black.woff') format('woff'),
        url('../fonts/TT-Norms-Pro-Black.ttf') format('truetype');
    font-style: normal;
    font-weight: 800;
}

@font-face {
    font-family: 'ttNormsPro';
    src: url('../fonts/TT-Norms-Pro-Black-Italic.eot');
    src: url('../fonts/TT-Norms-Pro-Black-Italic.otf') format('opentype'),
        url('../fonts/TT-Norms-Pro-Black-Italic.woff2') format('woff2'),
        url('../fonts/TT-Norms-Pro-Black-Italic.woff') format('woff'),
        url('../fonts/TT-Norms-Pro-Black-Italic.ttf') format('truetype');
    font-style: italic;
    font-weight: 800;
}

@font-face {
    font-family: 'ttNormsPro';
    src: url('../fonts/TT-Norms-Pro-ExtraBlack.eot');
    src: url('../fonts/TT-Norms-Pro-ExtraBlack.otf') format('opentype'),
        url('../fonts/TT-Norms-Pro-ExtraBlack.woff2') format('woff2'),
        url('../fonts/TT-Norms-Pro-ExtraBlack.woff') format('woff'),
        url('../fonts/TT-Norms-Pro-ExtraBlack.ttf') format('truetype');
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: 'ttNormsPro';
    src: url('../fonts/TT-Norms-Pro-ExtraBlack-Italic.eot');
    src: url('../fonts/TT-Norms-Pro-ExtraBlack-Italic.otf') format('opentype'),
        url('../fonts/TT-Norms-Pro-ExtraBlack-Italic.woff2') format('woff2'),
        url('../fonts/TT-Norms-Pro-ExtraBlack-Italic.woff') format('woff'),
        url('../fonts/TT-Norms-Pro-ExtraBlack-Italic.ttf') format('truetype');
    font-style: italic;
    font-weight: 900;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    font-family: 'ttNormsPro';
    margin: 0;
    padding: 0;
    min-height: 100%;
    position: relative;
    background: -webkit-radial-gradient(120% 120% at 50% 50%, #0C142F 0%, #000000 100%);  
    background: -moz-radial-gradient(120% 120% at 50% 50%, #0C142F 0%, #000000 100%);  
    background: -ms-radial-gradient(120% 120% at 50% 50%, #0C142F 0%, #000000 100%);  
    background: -o-radial-gradient(120% 120% at 50% 50%, #0C142F 0%, #000000 100%);  
    background: radial-gradient(120% 120% at 50% 50%, #0C142F 0%, #000000 100%);
    background-position: center center;
    background-repeat: repeat-y;
    background-size: cover;
}

body::-webkit-scrollbar {
    width: 7px;
}

body::-webkit-scrollbar-track {
    background-color: rgba(196, 196, 196, 0.3);
}

body::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background-color: var(--primaryColor);
}

#wrapper {
    background-color: transparent;
    -webkit-transition: background-color ease-in-out 0.3s;
    -moz-transition: background-color ease-in-out 0.3s;
    -ms-transition: background-color ease-in-out 0.3s;
    -o-transition: background-color ease-in-out 0.3s;
    transition: background-color ease-in-out 0.3s;
}

#wrapper.changeBg {
    background-color: white;
}

#wrapper #logoNav {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 9999;
}

#wrapper #logoNav #logoContainer {
    min-height: 10vh;
    padding: 3rem 7rem 0;
    display: flex;
}

#wrapper #logoNav #logoContainer a img {
    width: 70px;
}

#wrapper #navbar {
    width: 100%;
    position: fixed;
    bottom: 5rem;
    padding: 0 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    z-index: 5;
}

#wrapper #navbar .navLink {
    font-family: 'ttNormsPro';
    font-size: 1.2rem;
    font-weight: 400;
    padding-bottom: 0.8rem;
    color: white;
    position: relative;
    text-decoration: none;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -ms-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}

#wrapper #navbar .navLink.active,
#wrapper #navbar .navLink:hover {
    color: var(--primaryColor);
}

#wrapper #navbar .navLink.active {
    font-weight: 500;
}

#wrapper #navbar .navLink::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: var(--primaryColor);
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

#wrapper #navbar .navLink:hover::before,
#wrapper #navbar .navLink.active::before {
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
}

#wrapper #floatingSocials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    align-items: center;
    cursor: pointer;
    color: white;
    bottom: 3rem;
    right: 3rem;
    width: 4.5rem;
    height: 4.5rem;
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
    transform: translateY(50%);
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -ms-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
    border-radius: 50%;
    box-shadow: 0px 0px 36px -2px rgba(0, 0, 0, 0.1);
    opacity: 0;
    background: var(--primaryColor);
    z-index: 10;
}

#wrapper #floatingSocials.enter {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
}

#wrapper #floatingSocials.enter:hover {
    opacity: 1;
    background: #D43D45;
    -webkit-transform: translateY(10%);
    -moz-transform: translateY(10%);
    -ms-transform: translateY(10%);
    -o-transform: translateY(10%);
    transform: translateY(10%);
}

#wrapper #floatingSocials #socialsIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 1.8rem;
    color: white;
}

#wrapper a .linkedinIcon,
#wrapper a .githubIcon,
#wrapper a .mailIcon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    align-items: center;
    cursor: pointer;
    color: white;
    bottom: 3.75rem;
    right: 3.75rem;
    width: 3rem;
    height: 3rem;
    -webkit-transform: translateY(0) translateX(0);
    -moz-transform: translateY(0) translateX(0);
    -ms-transform: translateY(0) translateX(0);
    -o-transform: translateY(0) translateX(0);
    transform: translateY(0) translateX(0);
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -ms-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
    border-radius: 50%;
    box-shadow: 0px 0px 36px -2px rgba(0, 0, 0, 0.1);
    opacity: 0;
    background: white;
    z-index: 5;
}

#wrapper a .linkedinIcon.enter {
    -webkit-transform: translateX(20%) translateY(-170%);
    -moz-transform: translateX(20%) translateY(-170%);
    -ms-transform: translateX(20%) translateY(-170%);
    -o-transform: translateX(20%) translateY(-170%);
    transform: translateX(20%) translateY(-170%);
    opacity: 1;
}

#wrapper a .githubIcon.enter {
    -webkit-transform: translateX(-120%) translateY(-120%);
    -moz-transform: translateX(-120%) translateY(-120%);
    -ms-transform: translateX(-120%) translateY(-120%);
    -o-transform: translateX(-120%) translateY(-120%);
    transform: translateX(-120%) translateY(-120%);
    opacity: 1;
}

#wrapper a .mailIcon.enter {
    -webkit-transform: translateX(-160%) translateY(20%);
    -moz-transform: translateX(-160%) translateY(20%);
    -ms-transform: translateX(-160%) translateY(20%);
    -o-transform: translateX(-160%) translateY(20%);
    transform: translateX(-160%) translateY(20%);
    opacity: 1;
}

#wrapper a .linkedinIcon:hover {
    opacity: 1;
    transform: translateX(20%) translateY(-160%);
}

#wrapper a .githubIcon:hover {
    opacity: 1;
    transform: translateX(-120%) translateY(-110%);
}

#wrapper a .mailIcon:hover {
    opacity: 1;
    transform: translateX(-160%) translateY(30%);
}

#wrapper a .linkedinIcon i,
#wrapper a .githubIcon i,
#wrapper a .mailIcon i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    color: black;
}